@charset "utf-8";

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: normal;
	src: url('./NanumGothic.eot');
	src: local('?'), url('./NanumGothic.woff') format('woff'), url('./NanumGothic.ttf') format('truetype');
} 

/*reset
-------------------------------*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,caption,form,fieldset,legend,input,address{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,label{font-family:Dotum;font-size:12px;font-weight:normal;color:#666;line-height:16px;}
img, fieldset { border:none;}
a {text-decoration:none; color:#333;}
li {list-style-type:none;}
.hide{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
input{vertical-align:middle;}
select{vertical-align:middle;}